/* Elementos do Cabeçalho*/

header{
    background-image: url(../imagens/bg-rep.jpg);
    width: 100%;
    height: 250px;
    padding: 20px 0;
    
}
.caixa_logo_navegacao {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.logotipo{
    width: 300px;
    height: 250px;
    cursor: pointer;
    transition: transform 2s;
}
.logotipo:hover{
    transform: scale(1.05);
}
.caixa_logo_navegacao nav{
    position: absolute;
    top: 125px;
    right: 0;
}
.caixa_logo_navegacao nav li{
    display: inline-block; 
}
.caixa_logo_navegacao nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 10px;  
}
.caixa_logo_navegacao nav a:hover{
    font-size: 28px;
}
.caixa_logo_navegacao nav a:active{
    color: #b6b6b6; 
    text-decoration:line-through;
}
/* Sessão sobre a barbearia*/
.caixa_conteudo_barbearia{ 
    background: url(../imagens/sobre-foto.jpg);
    width: 100%; 
    height: 836px;
}
.sobre_texto{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.527);
    color: #FFFFFF; 
    display: inline-block;
    margin: 3% 3% 2%;
    border: 2px dashed #b6b6b6;
}
.sobre_texto h2{
   font-weight: bold;
   font-size: 3em;
   text-align: center;
   margin: 0.3em;
}
.sobre_texto p{
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 0 1.1em;
}
.sobre_texto em{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 1.08em;
}

/* Sessão sobre os beneficios*/

.beneficios{
    width: 600px;
    padding: 10px;
    float: right;
    margin-right: 3%;
}
.lista_beneficios{
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5% 0 10px;
    vertical-align: top;
    color: white;
    border: dashed 1px #b6b6b6;
    padding: 1.2em 1.2em 1.2em 2em;
}
.lista_beneficios h2{
    font-size: 2em;
    text-align: center;
}
.lista_beneficios ul{
    margin-top: 1.1em;
    list-style-type:disc;
}
.foto_beneficios{
    height: 400px;
    width:300px;
    border-radius: 45px;
}

/*Elementos do rodapé*/

footer{
    clear: right;
    background-image: url(../imagens/bg-rep.jpg);
    width: 100%;
    height: 300px; 
    padding: 25px 0;
    position: relative;
}
.logo_copyright{
    width: 400px;
    height: 290px;
    text-align: center;
    margin: 0 auto;
}
.copyright{
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 10px;
}
.ass_logo{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 90%;
    bottom: 10%;
}
