@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Inconsolata&display=swap');
:root{
    font-size: 62.5%;
    box-sizing: border-box;
    --cor-fonte-primaria: #FFFFFF;
    --cor-fonte-secundaria: #b6b6b6;
    --cor-fonte-destaque: #FF0000;

    --fundo-cabecalho-rodape: url(../img/bg-rep.jpg);
    --cor-borda-primaria:#b6b6b6;

    --fonte-titulo-primario:'Diplomata SC', cursive;
    --fonte-texto-primario:  'Inconsolata', monospace;
}
body{
    min-height:  100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
*{
    box-sizing: border-box;
}

/* Elementos do Cabeçalho*/
.logotipo{
    width: 30rem;
    height: 23rem;
    cursor: pointer;
    transition: transform 2s;
}
.logotipo:hover{
    transform: scale(1.02);
}
.cabecalho{
    background-image: var(--fundo-cabecalho-rodape);
    width: 100%;
    height: 25rem;
    padding: 1rem 0;
}
.cabecalho__container {
    width: 80%;
    height: 23rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.cabecalho__menu__link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.6rem;
    color: var(--cor-fonte-primaria);
}
.cabecalho__menu__link:hover{
    font-size: 2.8rem;
}
.cabecalho__menu__link:active{
    color: var(--cor-fonte-secundaria);
    text-decoration:line-through;
}
/* PÁGINA HOME - Sessão sobre a barbearia */
.conteudo{
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
.conteudo__sobre__container{
    background: url(../img/sobre-foto.jpg);
    background-size: cover;
    width: 100%;
    height: 836px;
    padding: 2rem;
    overflow-x: auto;
}
.conteudo__sobre{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    border: 2px dashed var(--cor-borda-primaria);
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 2rem;
    align-self:flex-start;
}
.conteudo__sobre__texto{
    color: var(--cor-fonte-primaria);
    text-align: justify;
}
.titulo__padrao{
    font-family: var(--fonte-titulo-primario);
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}
.conteudo__sobre__texto .texto__padrao{
    margin: 2rem;
}
.texto__padrao{
    text-align: justify;
    font-size: 2rem;
    font-family: var(--fonte-texto-primario);
}
.texto__destaque{
    color: var(--cor-fonte-destaque);
    font-style: italic;
    font-weight: bold;
    font-size: 2.2rem;
}
.conteudo__sobre__falelink{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.falelink__img{
    width: 40%;
}
.falelink__link{
    font-family: var(--fonte-texto-primario);
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}
.falelink__link:hover{
    color: var(--cor-fonte-secundaria);
}
.falelink__link:active{
    color: var(--cor-fonte-destaque);
}
/* .localizacao{
    width:50%;
    color: var(--cor-fonte-primaria);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
} */

/* PÁGINA HOME - Sessão sobre os beneficios*/

.beneficios{
    width: 600px;
    padding: 10px;
    float: right;
    margin-right: 3%;
}
.lista_beneficios{
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5% 0 10px;
    vertical-align: top;
    color: white;
    border: dashed 1px #b6b6b6;
    padding: 1.2em 1.2em 1.2em 2em;
}
.lista_beneficios h2{
    font-size: 2em;
    text-align: center;
}
.lista_beneficios ul{
    margin-top: 1.1em;
    list-style-type:disc;
}
.foto_beneficios{
    height: 400px;
    width:300px;
    border-radius: 45px;
}

/* PÁGINA PRODUTOS - Sessão produtos*/
.fundo_img_pgs{
    background-image: url(../img/bg-rep2.jpg);
}
.pelicula{
    padding: 20px 0;
    width: 100%;
    background-color:  rgba(34, 33, 33, 0.795);
}
.lista_produtos{
    width: 900px;
    margin: 0px auto;
    padding: 50px;
}
.item_lista_produtos{
    display: inline-block;
    vertical-align: top;
    width: 230px;
    text-align: center;
    padding: 30px 20px;
    margin-left: 2%;
    border: 2px dashed white;
    border-radius: 10px;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.767);
    color: white;
}
.item_lista_produtos:hover{
    transform: scale(1.03);
    cursor: grab;
    background: rgba(184, 184, 184, 0.432);
    color: black;
}
.item_lista_produtos:active{
    background: rgba(0, 0, 0, 0.767);
    color: white;
}
.item_lista_produtos h3{
    font-weight: bold;
    font-size: 2em;
    text-transform:capitalize;
    margin-bottom: 0.5em;
}
.item_lista_produtos img{
    width: 150px;
    height: 200px;
}
.item_lista_produtos p{
    font-size: 1.2em;
    margin: 1em 0;
}
.item_lista_produtos em{
    font-size: 1.3em;
    font-weight: bold;
}

/* PÁGINA CONTATO - formulário*/
.caixa_intinerario_funcionamento  .formulario_contato, .caixa_conteudo_contato{
    box-sizing: border-box;
    color: white;
}
.caixa_formulario_contato{
    border: 2px solid grey;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.767);
    width: 940px;
    margin: 0 auto;
    padding-top: 10px;
}
.caixa_conteudo_contato{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 0 2%;
}
.caixa_conteudo_contato label{
    display: block;
    font-size: 1.2em;
    margin: 0.5em 0 ;
}
.dados_contato input,textarea{
    padding: 10px 20px;
    width: 80%;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
}
.preferencia_contato legend{
    font-size: 1.5em;
    padding-top: 0.5em;
}
.preferencia_contato p{
    font-size: 1.3em;
    margin: 0.6em 0 0.4em ;
}
.preferencia_contato select{
    margin-bottom: 1em;
}
.bt_enviar{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.3em 0.5em;
    background-color: black;
    border: 2px dashed white;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    transition: all 1s;
}
.bt_enviar:hover{
    background-color: #888888;
    transform: scale(1.05);
}
.cv_aponta{
    width: 250px;
    height: 400px;
    float: right;
    margin-right: 5%;
}
.caixa_intinerario_funcionamento{
    width: 100%;
    height: 150px;
    text-align: center;
}
.caixa_intinerario_funcionamento table,#texto_funcionamento{
    display: inline-block;
}
#texto_funcionamento{
   vertical-align:top;
   font-size: 1.5em;
   font-style: italic;
   margin: 4% 8% 4% 5%;
   color: white;
}

#texto_funcionamento::after{
    content: "⇛ ";
}
.caixa_intinerario_funcionamento td,th{
    font-size: 1.2em;
    border: 1px dotted white;
    color: white;
}
.caixa_intinerario_funcionamento th{
    font-weight: bold;
  background-color: white;
  font-style: italic;
  line-height: 2em;
  color: black;
}
.caixa_intinerario_funcionamento td{
    padding: 0.3em;
}
/*Elementos do rodapé*/
.logotipo--rodape{
    width: 25rem;
    height: 20rem;
}
.rodape{
    background-image:  var(--fundo-cabecalho-rodape);
    width: 100vw;
    height: auto;
    display:flex;
    justify-content: center;
    align-items:center;
}
.rodape__container{
    width: 90%;
    height: auto;
    padding-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.rodape__copyright{
    font-size: 1.2rem;
    color: var(--cor-fonte-primaria);
}
.ass__link{
   align-self: flex-end;
}
.ass__logo{
    width: 7rem;
    height: 5rem;
}
.ass__link:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:480px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 25rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;
    }

    .cabecalho__menu{
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 1.8rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2rem;
    }
    
    /* PÁGINA HOME - Sessão sobre a barbearia */
    .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        height: auto;
        width: 100%;
        flex-flow: column wrap;
        gap: 1rem;
        padding: 0.5rem;
        align-self:flex-start;
    }
    .conteudo__sobre__texto .texto__padrao{
        margin: 1rem;
    }
    .conteudo__sobre__falelink{
        width: 100%;
    }

    /*ELEMENTOS RODAPÉ*/
    .logotipo--rodape{
        width: 20rem;
        height: 15rem;
    }
    .rodape{
        width: 100vw;
        height: auto;
        padding: 1rem 0;
    }
    .rodape__container{
        gap: 0.5rem;
    }
    .rodape__copyright{
        font-size: 1rem;
        color: var(--cor-fonte-primaria);
    }
    .ass__link{
    align-self: center;
    }
    .ass__logo{
        width: 7rem;
        height: 5rem;
    }
    .ass__link:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 28rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;
    }

    .cabecalho__menu{
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 2rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2.1rem;
    }
    /* PÁGINA HOME - Sessão sobre a barbearia */
    .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        height: auto;
        width: 100%;  
    }
    .conteudo__sobre__texto .titulo__padrao{
        margin: 4rem;
    }
    .conteudo__sobre__texto .texto__padrao{
        margin: 1.5rem;
    }

     /*ELEMENTOS RODAPÉ*/
     .logotipo--rodape{
        width: 22rem;
        height: 17rem;
    }
    .ass__link{
        align-self: flex-end;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 28rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .cabecalho__menu{
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .cabecalho__menu__link{
        font-size: 2rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2.1rem;
    }
     /* PÁGINA HOME - Sessão sobre a barbearia */
     .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        height: auto;
        width: 100%;  
    }
    .conteudo__sobre__texto .titulo__padrao{
        margin: 4rem;
    }
    .conteudo__sobre__texto .texto__padrao{
        margin: 1.5rem;
    }

    /*ELEMENTOS RODAPÉ*/
    .logotipo--rodape{
        width: 22rem;
        height: 17rem;
    }
    .ass__link{
    align-self: flex-end;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px){
    /* ELEMENTOS CABEÇALHO */
    /* PÁGINA HOME - Sessão sobre a barbearia */
    .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        height: auto;
        width: 100%;  
    }
    .conteudo__sobre__texto .titulo__padrao{
        margin: 4rem;
    }
    .conteudo__sobre__texto .texto__padrao{
        margin: 1.5rem;
    }
}