@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Inconsolata&family=Oswald&display=swap');
:root{
    font-size: 62.5%;
    box-sizing: border-box;
    --cor-fonte-primaria: #FFFFFF;
    --cor-fonte-secundaria: #b6b6b6;
    --cor-fonte-destaque: #FF0000;

    --cor-fundo-transparente: rgba(0, 0, 0, 0.767);

    --fundo-cabecalho-rodape: url(../img/bg-rep.jpg);
    --borda-tracejada: 0.2rem dashed #b6b6b6;

    --fonte-titulo-primario:'Diplomata SC', cursive;
    --fonte-texto-primario:  'Inconsolata', monospace;
    --fonte-texto-secundario: 'Oswald', sans-serif;

}
body{
    min-height:  100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #000000;
}
*{
    box-sizing: border-box;
}

/* Elementos do Cabeçalho*/
.logotipo{
    width: 30rem;
    height: 23rem;
    cursor: pointer;
    transition: transform 2s;
}
.logotipo:hover{
    transform: scale(1.02);
}
.cabecalho{
    background-image: var(--fundo-cabecalho-rodape);
    width: 100%;
    height: 25rem;
    padding: 1rem 0;
}
.cabecalho__container {
    width: 80%;
    height: 23rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.cabecalho__menu__link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.6rem;
    color: var(--cor-fonte-primaria);
}
.cabecalho__menu__link:hover{
    font-size: 2.8rem;
}
.cabecalho__menu__link:active{
    color: var(--cor-fonte-secundaria);
    text-decoration:line-through;
}
/* CONTAINER MAIN */
.conteudo{
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
.titulo{
    font-family: var(--fonte-titulo-primario);
    color: var(--cor-fonte-primaria);
    font-size: 3rem;
    text-align: center;
}
.paragrafo{
    text-align: justify;
    font-size: 2rem;
    font-family: var(--fonte-texto-primario);
    color: var(--cor-fonte-primaria);
}
.destaque{
    color: var(--cor-fonte-destaque);
    font-style: italic;
    font-weight: bold;
    font-size: 2.2rem;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
/* PÁGINA HOME - Sessão sobre a barbearia */
.sobre__container{
    background: url(../img/sobre-foto.jpg);
    background-size: cover;
    width: 100%;
    height: 836px;
    padding: 1rem;
    overflow-x: auto;
}
.sobre__conteudo{
    width: 60%;
    height: 100%;
    background-color: var(--cor-fundo-transparente);
    border: var(--borda-tracejada);
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    align-self:flex-start;
    align-items: center;
    justify-content: space-evenly;
}
.sobre__titulo{
    font-size: 4rem;
}
.sobre__texto{
    width: 95%;
    text-align: justify;
    flex: 0.5 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.sobre__paragrafo{
    font-size: 2.1rem;
}
.sobre__contato{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
}
.sobre__img{
    width: 40%;
}
.sobre__link{
    font-family: var(--fonte-texto-secundario);
    font-size: 3rem;
    text-decoration: none;
    color: var(--cor-fonte-primaria);
    text-align: center;
}
.sobre__link:hover{
    color: var(--cor-fonte-secundaria);
}
.sobre__link:active{
    color: var(--cor-fonte-destaque);
}
/* PÁGINA HOME - Sessão sobre os beneficios*/

.beneficios__container{
    padding: 3rem 1rem;
    gap: 5rem;
}
.beneficios__titulo{
    font-size: 5.5rem;
}
.beneficios__conteudo{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}
.beneficios__lista{
   display: flex;
   flex-flow: column nowrap;
   gap: 1rem;
}
.beneficios__item{
    font-size: 2.5rem;
    font-family: var(--fonte-texto-secundario);
    color: var(--cor-fonte-primaria);
}
.beneficios__item::before{
    content:"☠";
    padding-right:1rem ;
}
.beneficios__item:first-child{
    font-weight: 600;
}
.beneficios__img{
    height: 40rem;
    width:30rem;
    border-radius: 4.5rem;   
}
.beneficios__video{
    width: 100%;
    height: 35rem;
}

/* PÁGINA HOME - sessão localizacao */

.localizacao__container{
    padding: 4rem 1rem;
    gap: 5rem;
}
.localizacao__titulo{
    font-size: 5rem;
}
.localizacao__conteudo{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.localizacao__paragrafo{
    font-size: 2.5rem;
    text-align: center;
}
.localizacao__mapa{
    width: 100%;
    height: 40rem;
}

/* PÁGINA PRODUTOS - Sessão produtos*/
.produtos__container{
    background-image: url(../img/bg-rep2.jpg);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produtos__lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    gap: 4rem;   
}
.produtos__item{
    width: 23rem;
    height: 40rem;
    padding: 3rem 2rem;
    border: var(--borda-tracejada);
    border-radius: 1rem;
    transition: all 0.4s;
    background: var(--cor-fundo-transparente);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.produtos__item:hover{
    transform: scale(1.03);
    cursor: grab;
    background: rgba(184, 184, 184, 0.432);
    color: #000000;
}
.produtos__item:active{
    background: var(--cor-fundo-transparente);
}
.produtos__titulo{
    font-size: 2rem;
    text-transform:capitalize;
}
.produtos__icone{
    width: 15rem;
    height: 20rem;
}
.produtos__paragrafo{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.produtos__preco{
    font-size: 2rem;
    font-weight: bold; 
    font-style: italic; 
    color: var(--cor-fonte-primaria);
}

/* PÁGINA CONTATO - formulário*/
.contato__container{
    width: 80%;
    height: auto;
    margin: 2rem 0;
    padding: 2rem;
    border: var(--borda-tracejada);
    background: var(--cor-fundo-transparente);
    display: flex;
    flex-flow: column wrap;
}
.contato__form{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}
.form__field{
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
}
.form__field__dados{
    gap: 1.5rem;
    height: auto;
    align-items: center;
}
.form__label, .form__legend{
    color: var(--cor-fonte-primaria);
    font-family: var(--fonte-texto-secundario); 
}
.form__field__dados .form__label{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 80%;
    font-size: 1.8rem;
}
.form__inputText {
    line-height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.4rem;
}
#telefone{
    width: 50%;
}
#mensagem{
    resize: none;
    font-size: 1.4rem;
    line-height: 2rem;
}
.form__field__contato {
    height: 65rem;
    gap: 3rem;
    align-items:center;
}
.form__field__contato fieldset{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}
.form__legend{
   padding: 0 1rem;
   font-size: 2.5rem;
}
.form__legend::after,.form__legend::before{
    content: " 🕱 ";
}
.form__paragrafo{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--fonte-texto-secundario);
    text-align:left;
}
.form__field__contato .form__label{
    font-size: 1.4rem;
    font-weight: 200;
}
.form__select{
    border: var(--borda-tracejada);
    width: 8rem;
    text-align: center;
    background-color: #000000;
    color: var(--cor-fonte-secundaria);
}
.form__select:hover{
    cursor: grab;
    background-color:var(--cor-fundo-transparente);
    color: var(--cor-fonte-primaria);
}
.form__btn{
    color: var(--cor-fonte-primaria);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.3em 0.5em;
    background-color: #000000;
    border: var(--borda-tracejada);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    transition: all 1s;
    
}
.form__btn:hover{
    background-color: #888888;
    transform: scale(1.05);
}
.form_img{
    width: 20rem;
    height: 32rem;
}
.contato_funcionamento{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.contato_funcionamento .paragrafo{
    font-style: italic;
    font-size: 2.5rem;
}
.contato__tabela{
    font-size: 1.2em;
    border: 1px dotted #FFFFFF;
    color: #FFFFFF;
    line-height: 2rem;
}
.contato__tabela th{
    font-weight: bold;
    background-color: #FFFFFF;
    font-style: italic;
    line-height: 2.5rem;
    color: #000000;
    font-size: 1.8rem;
}
.contato__tabela td{
    padding: 0.3em;
}
/*Elementos do rodapé*/
.logotipo--menor{
    width: 25rem;
    height: 20rem;
}
.rodape{
    background-image:  var(--fundo-cabecalho-rodape);
    width: 100vw;
    height: auto;
    display:flex;
    justify-content: center;
    align-items:center;
}
.rodape__container{
    width: 90%;
    height: auto;
    padding-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.rodape__copyright{
    font-size: 1.2rem;
    color: var(--cor-fonte-primaria);
}
.rodape__assLink{
   align-self: flex-end;
}
.rodape__assLogo{
    width: 7rem;
    height: 5rem;
}
.rodape__assLink:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:480px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 25rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;
    }
    .cabecalho__menu{
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 1.8rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2rem;
    }
    
    /* PÁGINA HOME - Sessão sobre a barbearia */
    .sobre__conteudo{
        width: 100%;
    }
    .sobre__titulo{
        font-size:3rem;
    }
    .sobre__texto{
       width: 100%;
    }
    .sobre__paragrafo{
        font-size: 1.6rem;
    }
    .sobre__link{
        font-size: 2rem;
    }
    /* PÁGINA HOME - Sessão sobre os beneficios*/

    .beneficios__container{
        gap: 3rem;
    }
    .beneficios__titulo{
        font-size: 2.7rem;
    }
    .beneficios__conteudo{
        width: 100%;
        gap: 3rem;
    }
    .beneficios__item{
        font-size: 2.3rem;
    }

    /* PÁGINA HOME - sessão localizacao */

    .localizacao__container{
        gap: 2rem;
        padding: 0 1rem 1rem 1rem;
    }
    .localizacao__titulo{
        font-size: 2.5rem;
    }
    .localizacao__conteudo{
        gap: 1rem; 
        width: 95%;
     }
    .localizacao__paragrafo{
        font-size: 1.6rem;
    }
    .localizacao__mapa{
        height: 35rem;
        width: 100%;
    }

    /*ELEMENTOS RODAPÉ*/
    .logotipo--menor{
        width: 20rem;
        height: 15rem;
    }
    .rodape{
        width: 100vw;
        height: auto;
        padding: 1rem 0;
    }
    .rodape__container{
        gap: 0.5rem;
    }
    .rodape__copyright{
        font-size: 1rem;
        color: var(--cor-fonte-primaria);
    }
    .rodape__assLink{
    align-self: center;
    }
    .rodape__assLogo{
        width: 7rem;
        height: 5rem;
    }
    .rodape__assLink:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 28rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;
    }

    .cabecalho__menu{
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 2rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2.1rem;
    }

    /* PÁGINA HOME - Sessão sobre a barbearia */

    .sobre__conteudo{
        width: 100%;
    }
    .sobre__titulo{
        font-size: 3.5rem;
    }
    .sobre__paragrafo{
        font-size: 1.8rem;
    }
    /* PÁGINA HOME - Sessão sobre os beneficios*/

    .beneficios__container{
        gap: 4.5rem;
    }
    .beneficios__titulo{
        font-size: 4rem;
    }
    .beneficios__conteudo{
        width: 100%;
        gap: 3rem;
    }
    .beneficios__item{
        font-size: 2.5rem;
    }

    /* PÁGINA HOME - sessão localizacao */

    .localizacao__container{
        padding: 0 1rem 2rem;
        gap: 3rem;
    }
    .localizacao__titulo{
        font-size: 3.8rem;
    }
    .localizacao__conteudo{
        width: 90%;
        gap: 1rem;
    }
    .localizacao__mapa{
        height: 45rem;
    }
    .localizacao__paragrafo{
        font-size: 2rem;
    }

     /*ELEMENTOS RODAPÉ*/
     .logotipo--menor{
        width: 22rem;
        height: 17rem;
    }
    .rodape__assLink{
        align-self: flex-end;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 28rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .cabecalho__menu{
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .cabecalho__menu__link{
        font-size: 2rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2.1rem;
    }
     /* PÁGINA HOME - Sessão sobre a barbearia */

     .sobre__conteudo{
        width: 100%;
     }
     .sobre__titulo{
        font-size: 5.5rem;
     }
     .sobre__link{
        font-size: 5rem;
     }
    
    /* PÁGINA HOME - Sessão sobre os beneficios*/
    .beneficios__titulo{
        font-size: 5.5rem;
    }
    .beneficios__conteudo{
        width: 100%;
        gap: 3rem;
    }
    .beneficios__video{
        width: 90%;
    }
    
    /* PÁGINA HOME - sessão localizacao */

    .localizacao__container{
        padding: 2rem 1rem;
    }
    .localizacao__titulo{
        font-size: 5.5rem;
    }
    .localizacao__conteudo{
        width: 90%;
    }
    .localizacao__paragrafo{
        font-size: 2.1rem;
    }
    .localizacao__mapa{
        height: 40rem;
    }

    /* PÁGINA PRODUTOS - Sessão produtos*/
    .produtos__item{
        width: 39rem;
        height: 60rem;
    }
    .produtos__titulo{
        font-size: 3rem;
    }
    .produtos__icone{
        width: 23rem;
        height: 30rem;
    }
    .produtos__paragrafo{
        font-size: 2.2rem;
    }
    .produtos__preco{
        font-size: 3rem;
    }
    
    /*ELEMENTOS RODAPÉ*/

    .logotipo--menor{
        width: 22rem;
        height: 17rem;
    }
    .rodape__assLink{
    align-self: flex-end;
    }
}
