@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Inconsolata&family=Oswald&display=swap');
:root{
    font-size: 62.5%;
    box-sizing: border-box;
    --cor-fonte-primaria: #FFFFFF;
    --cor-fonte-secundaria: #b6b6b6;
    --cor-fonte-destaque: #FF0000;

    --cor-fundo-transparente: rgba(0, 0, 0, 0.767);

    --fundo-cabecalho-rodape: url(../img/bg-rep.jpg);
    --cor-borda-primaria:#b6b6b6;
    --cor-borda-secundaria: #FFFFFF;

    --fonte-titulo-primario:'Diplomata SC', cursive;
    --fonte-texto-primario:  'Inconsolata', monospace;
    --fonte-texto-secundario: 'Oswald', sans-serif;

}
body{
    min-height:  100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}

/* Elementos do Cabeçalho*/
.logotipo{
    width: 30rem;
    height: 23rem;
    cursor: pointer;
    transition: transform 2s;
}
.logotipo:hover{
    transform: scale(1.02);
}
.cabecalho{
    background-image: var(--fundo-cabecalho-rodape);
    width: 100%;
    height: 25rem;
    padding: 1rem 0;
}
.cabecalho__container {
    width: 80%;
    height: 23rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.cabecalho__menu__link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.6rem;
    color: var(--cor-fonte-primaria);
}
.cabecalho__menu__link:hover{
    font-size: 2.8rem;
}
.cabecalho__menu__link:active{
    color: var(--cor-fonte-secundaria);
    text-decoration:line-through;
}
/* CONTAINER MAIN */
.conteudo{
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
.titulo__padrao{
    font-family: var(--fonte-titulo-primario);
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}
.texto__padrao{
    text-align: justify;
    font-size: 2rem;
    font-family: var(--fonte-texto-primario);
}
.texto__destaque{
    color: var(--cor-fonte-destaque);
    font-style: italic;
    font-weight: bold;
    font-size: 2.2rem;
}
/* PÁGINA HOME - Sessão sobre a barbearia */
.conteudo__sobre__container{
    background: url(../img/sobre-foto.jpg);
    background-size: cover;
    width: 100%;
    height: 836px;
    padding: 1rem;
}
.conteudo__sobre{
    width: 60%;
    height: 100%;
    background-color: var(--cor-fundo-transparente);
    border: 2px dashed var(--cor-borda-primaria);
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    align-self:flex-start;
    align-items: center;
    gap: 1rem;
}
.conteudo__sobre__texto{
    color: var(--cor-fonte-primaria);
    text-align: justify;
}
.conteudo__sobre__texto .titulo__padrao{
    font-size: 4rem;
}
.conteudo__sobre__texto .texto__padrao{
    margin: 2rem;
    font-size: 2.1rem;
}
.conteudo__sobre__falelink{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1rem;
}
.falelink__img{
    width: 40%;
    height: auto;
}
.falelink__link{
    font-family: var(--fonte-texto-secundario);
    font-size: 3rem;
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}
.falelink__link:hover{
    color: var(--cor-fonte-secundaria);
}
.falelink__link:active{
    color: var(--cor-fonte-destaque);
}
/* PÁGINA HOME - Sessão sobre os beneficios*/

.beneficios__container{
    width: 100%;
    height: auto;
    padding: 1.6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4rem;
    background-color: #000000;
    color: var(--cor-fonte-primaria);
}
.beneficios__conteudo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}
.beneficios__lista{
   display: flex;
   flex-flow: column wrap;
   gap: 1rem;
}
.beneficios__lista__item{
    font-size: 2.5rem;
    font-family: var(--fonte-texto-secundario);
}
.beneficios__lista__item::before{
    content:"☠";
    padding-right:1rem ;
}
.beneficios__lista__item:first-child{
    font-weight: 600;
}
.beneficios__img{
    height: 40rem;
    width:30rem;
    border-radius: 4.5rem;
    
}
.beneficios__video{
    width: 50%;
    height: 35rem;
}

/* PÁGINA HOME - sessão localizacao */
.localizacao__container{
    width:100%;
    color: var(--cor-fonte-primaria);
    background: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 4rem;
}
.localizacao__mapa{
    width: 80%;
    margin-top: 2rem;
}

/* PÁGINA PRODUTOS - Sessão produtos*/
.conteudo__produtos__container{
    background-image: url(../img/bg-rep2.jpg);
    width: 100%;
    height: 100vh;
}
.produtos__lista{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    gap: 4rem;   
}
.produtos__lista__item{
    width: 23rem;
    height: 40rem;
    text-align: center;
    padding: 3rem 2rem;
    border: 0.2rem dashed var(--cor-borda-secundaria);
    border-radius: 1rem;
    transition: all 0.4s;
    background: var(--cor-fundo-transparente);
    color: var(--cor-fonte-primaria);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.produtos__lista__item:hover{
    transform: scale(1.03);
    cursor: grab;
    background: rgba(184, 184, 184, 0.432);
    color: #000000;
}
.produtos__lista__item:active{
    background: var(--cor-fundo-transparente);
    color: var(--cor-fonte-primaria);
}
.produtos__lista__item .titulo__padrao{
    font-size: 2rem;
    text-transform:capitalize;
    margin: 0;
}
.item__icone{
    width: 15rem;
    height: 20rem;
}
.produtos__lista__item .texto__padrao{
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}
.item__preco{
    font-size: 2rem;
    font-weight: bold;  
}

/* PÁGINA CONTATO - formulário*/
.caixa_intinerario_funcionamento  .formulario_contato, .caixa_conteudo_contato{
    box-sizing: border-box;
    color: white;
}
.caixa_formulario_contato{
    border: 2px solid grey;
    border-radius: 20px;
    background: var(--cor-fundo-transparente);
    width: 940px;
    margin: 0 auto;
    padding-top: 10px;
}
.caixa_conteudo_contato{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 0 2%;
}
.caixa_conteudo_contato label{
    display: block;
    font-size: 1.2em;
    margin: 0.5em 0 ;
}
.dados_contato input,textarea{
    padding: 10px 20px;
    width: 80%;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
}
.preferencia_contato legend{
    font-size: 1.5em;
    padding-top: 0.5em;
}
.preferencia_contato p{
    font-size: 1.3em;
    margin: 0.6em 0 0.4em ;
}
.preferencia_contato select{
    margin-bottom: 1em;
}
.bt_enviar{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.3em 0.5em;
    background-color: black;
    border: 2px dashed white;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    transition: all 1s;
}
.bt_enviar:hover{
    background-color: #888888;
    transform: scale(1.05);
}
.cv_aponta{
    width: 250px;
    height: 400px;
    float: right;
    margin-right: 5%;
}
.caixa_intinerario_funcionamento{
    width: 100%;
    height: 150px;
    text-align: center;
}
.caixa_intinerario_funcionamento table,#texto_funcionamento{
    display: inline-block;
}
#texto_funcionamento{
   vertical-align:top;
   font-size: 1.5em;
   font-style: italic;
   margin: 4% 8% 4% 5%;
   color: white;
}

#texto_funcionamento::after{
    content: "⇛ ";
}
.caixa_intinerario_funcionamento td,th{
    font-size: 1.2em;
    border: 1px dotted white;
    color: white;
}
.caixa_intinerario_funcionamento th{
    font-weight: bold;
  background-color: white;
  font-style: italic;
  line-height: 2em;
  color: black;
}
.caixa_intinerario_funcionamento td{
    padding: 0.3em;
}
/*Elementos do rodapé*/
.logotipo--rodape{
    width: 25rem;
    height: 20rem;
}
.rodape{
    background-image:  var(--fundo-cabecalho-rodape);
    width: 100vw;
    height: auto;
    display:flex;
    justify-content: center;
    align-items:center;
}
.rodape__container{
    width: 90%;
    height: auto;
    padding-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.rodape__copyright{
    font-size: 1.2rem;
    color: var(--cor-fonte-primaria);
}
.ass__link{
   align-self: flex-end;
}
.ass__logo{
    width: 7rem;
    height: 5rem;
}
.ass__link:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:480px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 25rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;
    }

    .cabecalho__menu{
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 1.8rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2rem;
    }
    
    /* PÁGINA HOME - Sessão sobre a barbearia */
    .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    .conteudo__sobre__texto{
       width: 100%;
    }
    .conteudo__sobre__texto .titulo__padrao{
        font-size:2rem;
        margin-bottom: 2rem;
    }
    .conteudo__sobre__texto .texto__padrao{
        margin: 1rem 0;
        font-size: 1.6rem;
    }
    .falelink__link{
        font-size: 2rem;
    }
    .conteudo__sobre__falelink{
        width: 100%;
    }
    /* PÁGINA HOME - Sessão sobre os beneficios*/

    .beneficios__container{
        padding: 3rem 1rem 1rem 1rem;
    }
    .beneficios__container .titulo__padrao{
        font-size: 2.3rem;
        margin: 0;
    }
    .beneficios__lista__item{
        font-size: 2rem;
    }
    .beneficios__img{
        width:100%; 
        height: auto;       
    }
    .beneficios__video{
        width: 100%;
        height: 35rem;
    }

    /* PÁGINA HOME - sessão localizacao */

    .localizacao__container{
        height: auto;
        gap: 2rem;
        padding: 1rem;
    }
    .localizacao__container .titulo__padrao{
        font-size: 1.7rem;
        margin: 0;
    }
    .localizacao__container .texto__padrao{
        font-size: 1.6rem;
    }
    .localizacao__mapa{
        height: 35rem;
        width: 100%;
    }
    /* PÁGINA PRODUTOS - Sessão produtos*/
    .conteudo__produtos__container{
        height: auto;
    }
    .produtos__lista{
        flex-flow: column nowrap;
        gap: 3rem;   
    }
    .produtos__lista:first-child{
        margin-top: 3rem;
    }
    .produtos__lista:last-child{
        margin-bottom: 3rem;
    }

    /*ELEMENTOS RODAPÉ*/
    .logotipo--rodape{
        width: 20rem;
        height: 15rem;
    }
    .rodape{
        width: 100vw;
        height: auto;
        padding: 1rem 0;
    }
    .rodape__container{
        gap: 0.5rem;
    }
    .rodape__copyright{
        font-size: 1rem;
        color: var(--cor-fonte-primaria);
    }
    .ass__link{
    align-self: center;
    }
    .ass__logo{
        width: 7rem;
        height: 5rem;
    }
    .ass__link:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 28rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;
    }

    .cabecalho__menu{
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__menu__link{
        font-size: 2rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2.1rem;
    }
    /* PÁGINA HOME - Sessão sobre a barbearia */
    .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        width: 100%;    
        justify-content: space-between;
    }
    .conteudo__sobre__texto .titulo__padrao{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .conteudo__sobre__texto .texto__padrao{
        font-size: 1.8rem;
        margin: 1.5rem 0;
    }
    .falelink__link{
        font-size: 3rem;
    }
     
    /* PÁGINA HOME - Sessão sobre os beneficios*/

     .beneficios__container{
        padding:  1rem;
    }
    .beneficios__container .titulo__padrao{
        font-size: 3rem;
    }
    .beneficios__lista__item{
        font-size: 2.7rem;
    }
    .beneficios__img{
        height: auto;        
    }
    .beneficios__video{
        width: 100%;
    }

    /* PÁGINA HOME - sessão localizacao */

    .localizacao__container{
        height: auto;
        padding: 3rem 1rem 1rem 1rem;
        gap:3rem;
    }
    .localizacao__container .titulo__padrao{
        font-size: 2.7rem;
        margin: 0;
    }
    .localizacao__container .texto__padrao{
        font-size: 1.8rem;
    }
    .localizacao__mapa{
        height: 35rem;
        width: 100%;
    }

     /* PÁGINA PRODUTOS - Sessão produtos*/

     .conteudo__produtos__container{
        height: auto;
    }
    .produtos__lista:first-child{
        margin-top: 3rem;
    }
    .produtos__lista:last-child{
        margin-bottom: 3rem;
    }

     /*ELEMENTOS RODAPÉ*/
     .logotipo--rodape{
        width: 22rem;
        height: 17rem;
    }
    .ass__link{
        align-self: flex-end;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    /* ELEMENTOS CABEÇALHO */
    .logotipo{
        width: 28rem;
    }
    .cabecalho{
        width: 100%;
        height: auto;
    }
    .cabecalho__container {
        height: auto;
        margin: 0 auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .cabecalho__menu{
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .cabecalho__menu__link{
        font-size: 2rem;
    }
    .cabecalho__menu__link:hover{
        font-size: 2.1rem;
    }
     /* PÁGINA HOME - Sessão sobre a barbearia */
     .conteudo__sobre__container{
        overflow-x: auto;
    }
    .conteudo__sobre{
        width: 100%;  
        justify-content: space-between;
        padding: 2rem;
    }
    .conteudo__sobre__texto .titulo__padrao{
       font-size: 4rem;
       margin-bottom: 3rem;
    }
    .conteudo__sobre__texto .texto__padrao{
        margin: 1.5rem 0;
    }
    /* PÁGINA HOME - Sessão sobre os beneficios*/
    .beneficios__container .titulo__padrao{
        font-size: 4rem;
    }
    .beneficios__lista__item{
        font-size: 2.7rem;
    }
    .beneficios__video{
        width: 100%;
        height: 35rem;
    }

    /* PÁGINA HOME - sessão localizacao */

    .localizacao__container{
        gap: 3rem;
        padding: 4rem 1rem 1rem 1rem;
        height: auto;
    }
    .localizacao__container .titulo__padrao{
        font-size: 4rem;
        margin: 0;
    }
    .localizacao__container .texto__padrao{
        font-size: 2.1rem;
        text-align: center;
    }
    .localizacao__mapa{
        height: 40rem;
        width: 100%;
    }
    /* PÁGINA PRODUTOS - Sessão produtos*/

    .conteudo__produtos__container{
        height: auto;
    }
    .produtos__lista:first-child{
        margin-top: 3rem;
    }
    .produtos__lista:last-child{
        margin-bottom: 3rem;
    }
    /*ELEMENTOS RODAPÉ*/
    .logotipo--rodape{
        width: 22rem;
        height: 17rem;
    }
    .ass__link{
    align-self: flex-end;
    }
}
